<html>
<body style="overflow:hidden;">
<div style="position:relative; z-index:4; left:2%">
  <nav class="navbar navbar-expand-lg navbar-light mb-4">
    <div class="container"
          <li class="nav-item">
            <button style="position:absolute; top:25px; left:3%;  font-size:22px; color:white; text-decoration: none; background-color:#ce3232" onclick="{document.location.href='/'}">Home</button>
          </li>
        </ul>
    </div>
   </nav>
</div>
<div style="position:absolute; z-index:1;  width:50%; height:100%; ">
    <p><img src="/media/back.bmp" style="position: fixed; top: 0%; width: 100%; height: 100%; background-size: cover;"></p>
<div style="position:absolute; z-index:2; padding-left:40px; top:15%; left:122%; background-color:white;  width:68%; height:75%;">
     <h1 style="position:absolute; left:38%;">Login</h1>
     <p style="position:absolute; top:15%; color:#756f6f">Login if you have already registered</p><br><br><br><br>
<form method="post"><br><br>
    {% csrf_token %}
    <br><br><label style="font-size:21px">Username:</label><br>
    <input style="width: 85%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" type="text" name="username" placeholder="Enter Username"><br><br>
    <label style="font-size:21px">Password:</label><br>
    <input style="width: 85%; padding: 12px 20px; margin: 8px 0; display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;" type="password" name="password" placeholder="Enter Password"><br><br>
    <input type="submit" style=" width: 85%; background-color: #ce3232; color: white; padding: 14px 20px; margin: 8px 0;border: none; border-radius: 4px; cursor: pointer;" name="" value="Login">
    <p style="position:absolute; left:28%; color:#756f6f">Not registered? <span style="color:blue;"> <a href="{%url 'accounts:signup'%}"> Create Account</a></span></p>
</form>
    </div>
    </div>
</body>
</html>
