<!DOCTYPE html>
<html lang="en">

<head>
    {%load static %}
    <meta charset="UTF-8">
    <title>Eyesion</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
</head>

<body>
<nav class="navbar navbar-inverse" >
  <div class="container-fluid">
     <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
         <img class="navbar-brand " src="{% static 'logo.bmp' %}">
         <p class="navbar-brand " style="color:white">Eyesion</p>

    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'eyesion:list' %}">Home</a></li>
      {% if not user.is_staff%}
         <li class="active"><a href="{% url 'eyesion:upload' %}">Upload</a></li>
      {% endif %}

    <li style="margin-top:3%">
        <form class="form-inline" action="{% url 'eyesion:search-results' %}" method="get">
                <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search..." aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
             </form>
    </li>
    </ul>


    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated%}
        <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
            <span><a style="color:white" href="{% url 'eyesion:homepage' %}">Visit Site</a></span>
            <span class="glyphicon glyphicon-log-out"></span><span style="color:white">{{user.username}} <button class="btn btn-primary navbar-btn" type="submit">Logout</button></span>
        </form>
      {% else %}
      <span><a style="color:white" href="{% url 'eyesion:homepage' %}">Visit Site</a></span>
      <li><a href="{% url 'accounts:signup' %}"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
      <li><a href="{% url 'accounts:login' %}"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
      {% endif %}

    </ul>
  </div>
  </div>
</nav>

<div class="wrapper">
    {% block content%}

    {% endblock %}
</div>
</body>
</html>
