{% extends 'base.html' %}
{% block content %}


<div class="container">
    <h4><strong>Image Details:</strong></h4>
    <img src="{{image.Image.url}}" height="40%" width="30%"/>
    <table class="table">
        <tbody>
            <tr>
              <th>Image Name</th>
                <td>{{image.Image}}</td>
            </tr>
            <tr>
              <th>Image width</th>
                <td>{{image.Image.width}}</td>
            </tr>
            <tr>
              <th>Image Height</th>
                <td>{{image.Image.height}}</td>
            </tr>
            <tr>
              <th>Uploaded at</th>
                <td>{{image.uploaded_at}}</td>
            </tr>
            <tr>
              <th>Uploaded by</th>
                <td>{{image.uploaded_by}}</td>
            </tr>
            {% if image.prediction is None %}
            <tr>
              <th>Prediction</th>
                <td>{{image.get_prediction_display}}</td>
            </tr>
            {% endif %}
         </tbody>
    </table>
    <a href="{% url 'eyesion:list' %}" class="btn btn-info" role="button">Back</a>
    <a href="{% url 'eyesion:predict' image.id %}" class="btn btn-info" role="button">Predict Results</a>
</div>

{% endblock %}